# Node.js
backend/node_modules/
backend/npm-debug.log*

# Flutter / Dart
frontend/.dart_tool/
frontend/.idea/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/ios/
frontend/android/
frontend/windows/
frontend/linux/
frontend/macos/
frontend/web/
frontend/.metadata

# General
.DS_Store
.idea/
